{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'Mise/style.css' %}">
  </head>
  <body>
    {% include 'navbar.html' %}
  </br>

  <div class="image-container">
    <img src="https://cdn.discordapp.com/attachments/1005329043203293244/1077428443551121488/Pre-Training_Arbitrary_Stimuli.jpg">

  </div>
  

    <div class="submit-section">
        <div id="submit-counter-box">
          <span id="submit-counter-label">Round </span>
          <span id="submit-counter">0</span>
        </div>
        <div id="bar" style="width: 600px; height: 150px;">
          <!-- Here we will insert the selected colors -->
        </div>
        <div id="score-box">
          <span id="score-label">Money: $</span>
          <span id="score">0</span>
        </div>
      </div>
    
    <div class="submit-section">
        <button class="submit-button">Submit</button>
        <button class="delete-button">Erase</button>
    </div>

    <div class="modal" id="myModalMoney">
      <div class="modal-content">
        <span class="close">&times;</span>
        <p id="earned-money"></p>
      </div>
    </div>    
    
    <div class="modal" id="myModalNoMoney">
      <div class="modal-content">
        <span class="close">&times;</span>
        <p id="no-money"></p>
      </div>
    </div>

    <div class="color-button-section">
        <div class="button-row button-row-1">
            <button id="button1" style="background-color: red;"></button>
            <button id="button2" style="background-color: blue;"></button>
            <button id="button3" style="background-color: green;"></button>
          </div>
          <div class="button-row button-row-2">
            <button id="button4" style="background-color: yellow;"></button>
            <button id="button5" style="background-color: purple;"></button>
          </div>
          <div class="button-row button-row-3">
            <button id="button6" style="background-color: orange;"></button>
            <button id="button7" style="background-color: pink;"></button>
          </div>
          
        </div>
      <div>
        
        <button id="next-level" style="display:none;">Go to Next Level</button>
      </div>
    
    <script src="{% static 'js/game.js' %}"></script>
  </body>
</html>